<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.supercordova.hello" ios-CFBundleVersion="1.0" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kelly Club</name>
    <description>
        Kelly Club 八大行業資訊平台
    </description>
    <author email="din1030@gmail.com" href="http://cordova.io">
        Din Chia-Ting Cheng
    </author>
    <icon src="www/img/app_icon.png" />
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-facebook4" spec="~1.7.1">
        <variable name="APP_ID" value="172865999803545" />
        <variable name="APP_NAME" value="KellyClub" />
    </plugin>
</widget>
